---
layout: base
---

<div class="region wrapper flow prose" style="--region-space-top: var(--space-xl-2xl)">
  <h1 class="">{{ title }}</h1>
  <hr/ style="width: 100%; margin-block: 8px">
  {{ content | safe }}
</div>
