---
layout: base
permalink: /index.html
title: 'Patched1'
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
blog:
  title: 'Blog Posts'
---

<div class="wrapper">
  <header class="">
    <p> Answerws to the questions nobody ever had. </p>
    <hr style="width: 100%; margin-block: 8px; height: 2px">
  </header>
  
  <section class="full | region">
    <div class="wrapper">
      <h3>{{ blog.title }}</h3>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div style="margin-top: 4%"></div>
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
